<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block ext_css %}{% endblock %}
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block ext_js %}{% endblock %}
</head>
<body class="container">
<header class="container header">{% block header %}颐和果园订单管理系统{% endblock %}</header>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
           <!--<div class="navbar-header">-->
              <!--<a class="navbar-brand" href="#">W3Cschool</a>-->
           <!--</div>-->
           <div class="container">
              <ul class="nav navbar-nav">
                  {% for menu in menu_list %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           {{ menu.parent_name }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for sub_menu in menu.sub_list %}
                                {% if sub_menu.is_show %}
                                    <li><a href="{{ sub_menu.url }}">{{ sub_menu.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                  {% endfor %}
              </ul>
           </div>
        </nav>
        <div class="content">{% block content %}<h2>欢迎： {{ user.real_name }}</h2>{% endblock %}</div>
    </div>
    <footer class="footer">{% block footer %}&copy 2017 昆蕊一生 京ICP备17065984号{% endblock %}</footer>
</body>
<style>
    .content {
        min-height: 380px;
    }
    .header, .footer {
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 20px;
    }
    h2 {
        text-align: center;
    }
</style>
</html>