{% extends "/base/base.html" %}

{% from 'base/paginate.html' import limit_page %}

{% block title %}订单列表{% endblock %}

{% block content %}
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <label>起始时间：</label>
                <!--指定 date标记-->
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" value="{{ start_time }}" readonly="readonly" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <label>结束时间：</label>
                <!--指定 date标记-->
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" value="{{ end_time }}" readonly="readonly" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label></label>
                <select class="form-control" id="project_id" name="project_id">
                    <option value="">商品名称筛选</option>
                    {% for p in project_list %}
                        <option value="{{ p.id }}" {% if project_id == p.id %} selected {% endif %}>{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <label></label>
                <input type='text' class="form-control" value="{{ keyword }}" id="keyword" placeholder="收货人手机号" />
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <label></label>
                <button class="btn btn-primary form-control" onclick="order_search()">搜索</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
               <label></label>
                <button class="btn btn-primary form-control" onclick="download_order()">导出excel</button>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            总订单数：{{ page.total_count }}，当页总流水：{{ total_flowing_fee }}，当页利润：{{ total_profit_fee }}，
            总流水：{{ all_flowing_fee }}，总利润：{{ all_profit_fee }}，总代理金额：{{ all_agent_fee }}
        </div>
    </div>
    {% if order_list %}
        <div class="table-responsive" style="margin-top: 10px">
        <table class="table table-hover">
        <thead>
            <tr>
                <td>订单id</td>
                <td>商品名称</td>
                <td>代理金额</td>
                <td>出售金额</td>
                <td>支付金额</td>
                <td>利润</td>
                <td>支付方式</td>
                <td>名字</td>
                <td>地址</td>
                <td>手机号</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
                <tr>
                    <td><a href="{{ url_for('order.order_add_view', order_id=order.id) }}">{{ order.id }}</a></td>
                    <td>{{ order.project_name }}</td>
                    <td>{{ order.agent_fee }}</td>
                    <td>{{ order.selling_fee }}</td>
                    <td>{{ order.real_fee }}</td>
                    <td>{{ order.profit_fee }}</td>
                    <td>{{ order.pay_type }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.create_time }}</td>
                    <td><button id="delete-order" class="btn btn-danger" onclick="delete_order('{{ order.id }}')">删除</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div class="container" style="height: 300px; line-height: 300px; text-align: center">
            <div class="">暂无订单</div>
        </div>
    {% endif %}
    {% if page.total_page > 1 %}
        {{ limit_page(page.current_page, page.page_size, page.total_count, page.total_page, info={"name": "order_list"}) }}
    {% endif %}
{% endblock %}

{% block ext_css %}
    <link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/util.css') }}" rel="stylesheet">
{% endblock %}

{% block ext_js %}
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.zh-CN.js') }}"></script>
    <script src="{{ url_for('static', filename='js/limit-pager.js') }}"></script>
    <script>
        // ajax 删除订单
        function delete_order(order_id) {
            var csrf_token = '{{ csrf_token() }}';

            $.ajax({
                type: 'post',
                url: '/admin/order/delete/' + order_id.toString() + '/',
                data: {'order_id': order_id, 'csrf_token': csrf_token},
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200){
                        $("table tbody tr").each(function () {
                            if ($(this).children("td").children("a").html() == order_id.toString()){
                                $(this).remove('tr');
                            }
                        });
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }
        // 时间插件
        $(function () {
            $('#datetimepicker1').datetimepicker({
                minView: "month", //选择日期后，不会再跳转去选择时分秒
                language:  'zh-CN',
                format: 'yyyy-mm-dd',
                todayBtn:  1,
                autoclose: 1
            });
            $('#datetimepicker2').datetimepicker({
                minView: "month", //选择日期后，不会再跳转去选择时分秒
                language:  'zh-CN',
                format: 'yyyy-mm-dd',
                todayBtn:  1,
                autoclose: 1
            });
        });

        // 搜索
        function order_search() {
            var start_time = $("#datetimepicker1>input").val();
            var end_time = $("#datetimepicker2>input").val();
            var project_id = $("#project_id").val();
            var keyword = $("#keyword").val();
            window.location.href = '/admin/order/list/?start_time=' + start_time + '&end_time=' + end_time +
                '&project_id=' + project_id + '&keyword=' + keyword;
        }

        // 导出excel
        function download_order() {
            var start_time = $("#datetimepicker1>input").val();
            var end_time = $("#datetimepicker2>input").val();
            var project_id = $("#project_id").val();
            var keyword = $("#keyword").val();
            window.location.href = '/admin/order/download/?start_time=' + start_time + '&end_time=' + end_time +
                '&project_id=' + project_id + '&keyword=' + keyword;
        }

    </script>
{% endblock %}