{% extends "/base/base.html" %}

{% block title %}商品列表{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>商品id</td>
                    <td>icon</td>
                    <td>商品名称</td>
                    <td>总代金额</td>
                    <td>普代金额</td>
                    <td>出售金额</td>
                    <td>优先级</td>
                    <td>创建时间</td>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{% if project.icon %}<img width="50" height="50" src="{{ project.icon }}">{% else %}暂无icon图{% endif %}</td>
                        <td><a href="{{ url_for('project.project_add_view', project_id=project.id) }}">{{ project.name }}</a></td>
                        <td>{{ project.all_agent_fee }}</td>
                        <td>{{ project.normal_agent_fee }}</td>
                        <td>{{ project.selling_fee }}</td>
                        <td>{{ project.order_index }}</td>
                        <td>{{ project.create_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block ext_css %}
    <style>
        .table {
            text-align: center;
        }
        .table>tbody>tr>td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

